@model ShopHoNo.Models.Order

@{
    ViewData["Title"] = "Order Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Order Details</h1>

<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
<p><strong>Address:</strong> @Model.Address</p>
<p><strong>Notes:</strong> @Model.Notes</p>
<p><strong>Date Time:</strong> @Model.DateTime.ToString("g")</p> <!-- Hiển thị thời gian đặt hàng -->

<h3>Order Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>$@item.Price</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>

<p><strong>Total Price:</strong> $@Model.TotalPrice</p> <!-- Hiển thị tổng giá tiền -->

<a asp-action="Index" class="btn btn-sm btn-danger" >Back to Orders</a>