@model IEnumerable<ShopHoNo.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <form method="get" asp-action="Search" class="mb-3">
        <div class="input-group">
            <input type="text" name="searchTerm" class="form-control" placeholder="Search by category name" />
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
    <p>
        <a asp-action="Create" class="btn btn-sm btn-info">Create New</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryOrder)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
