@model IEnumerable<ShopHoNo.Models.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tr class="table_head">
								<th class="column-1">Product</th>
								<th class="column-2"></th>
								<th class="column-3">Price</th>
								<th class="column-4">Quantity</th>
								<th class="column-5">Total</th>
							</tr>
							@foreach (var item in Model)
							{
								<tr class="table_row">
									<td class="column-1">
										<a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.Id">
										<div class="how-itemcart1">
											<img src="@item.image" alt="IMG">
										</div>
										</a>
									</td>
									<td class="column-2">
										<a asp-action="ProductDetail" asp-controller="Products" asp-route-id="@item.Id">
										@item.Name
										</a>
									</td>
									<td class="column-3">$ @item.Price</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="@item.quantity" readonly>

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									<td class="column-5">$ @item.SumPrice</td>
								</tr>
							}
						</table>
					</div>

				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Summary
					</h4>


					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Total Products:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								@Model.Sum(item => item.quantity) <!-- Total number of products -->
							</span>
						</div>
					</div>

					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Total Price:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">
								$ @Model.Sum(item => item.SumPrice) <!-- Total price -->
							</span>
						</div>
					</div>

					<!-- User Information Form -->
					<form asp-action="Checkout" asp-controller="Cart">
						<div class="form-group">
							<label for="fullName">Full Name:</label>
							<input type="text" class="form-control" id="fullName" name="Name" required />
						</div>
						<div class="form-group">
							<label for="phoneNumber">Phone Number:</label>
							<input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" required />
						</div>
						<div class="form-group">
							<label for="address">Address:</label>
							<input type="text" class="form-control" id="address" name="Address" required placeholder="village, commune, district, province/city" />
						</div>
						<div class="form-group">
							<label for="notes">Notes (optional):</label>
							<textarea class="form-control" id="notes" name="Notes" required></textarea>
						</div>
						<input type="hidden" name="OrderItems" value="@Html.Raw(Json.Serialize(Model))" /> <!-- Serialize order items -->
						<button asp-action="Checkout" asp-controller="Cart" type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
							Proceed to Checkout
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

@if (TempData["SuccessMessage"] != null)
{
	<div class="alert alert-success">
		@TempData["SuccessMessage"]
	</div>
}